# Time Series Acquire Exercises

In [1]:
import pandas as pd
import requests
import acquire as a

The end result of this exercise should be a file named acquire.py.

## 1.

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
# set base url and then get a response all items
base_url = 'https://python.zgulde.net'
response = requests.get(base_url + '/api/v1/items')

In [3]:
# take a look at what my dictionary keys are
response.json().keys()

dict_keys(['payload', 'status'])

In [4]:
# dont think this entry will be useful for me here
response.json()['status']

'ok'

In [5]:
# take a look at keys in payload dict
response.json()['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [6]:
# save the whole payload dictionary to a df
items_data = response.json()['payload']

In [7]:
# will need to use other entries when creating loop, make sure I can point to them
items_data['max_page']

3

In [8]:
type(items_data['max_page'])

int

In [9]:
items_data['next_page']

'/api/v1/items?page=2'

In [10]:
items_data['page']

1

In [11]:
# create a df for the final values that only contatins the items entry
items = pd.DataFrame(response.json()['payload']['items'])

In [12]:
# take a look
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [13]:
items.shape

(20, 6)

In [14]:
# use the next page entry from the current dictionary to access then next dictionary
response = requests.get(base_url + items_data['next_page'])

In [15]:
# make sure I am getting what I want
response.json()['payload']['page']

2

In [16]:
# save new payload to a variable with all entries
items_data = response.json()['payload']

In [17]:
# convert items entry portion to a df
new_payload_df = pd.DataFrame(items_data['items'])

In [18]:
# concat df to existing df
items = pd.concat([items, new_payload_df], ignore_index=True)

In [19]:
# check df
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [20]:
items.shape

(40, 6)

In [21]:
# repeat for last page 
response = requests.get(base_url + items_data['next_page'])
items_data = response.json()['payload']
new_payload_df = pd.DataFrame(items_data['items'])
items = pd.concat([items, new_payload_df], ignore_index=True)

In [22]:
items.shape

(50, 6)

In [23]:
# lets try putting this into a loop

base_url = 'https://python.zgulde.net'
response = requests.get(base_url + '/api/v1/items')
items_data = response.json()['payload']
items = pd.DataFrame(response.json()['payload']['items'])

response = requests.get(base_url + items_data['next_page'])
items_data = response.json()['payload']
new_payload_df = pd.DataFrame(items_data['items'])
items = pd.concat([items, new_payload_df], ignore_index=True)

response = requests.get(base_url + items_data['next_page'])
items_data = response.json()['payload']
new_payload_df = pd.DataFrame(items_data['items'])
items = pd.concat([items, new_payload_df], ignore_index=True)

In [24]:
# def build_df(base_url, entry):
#     response = requests.get(base_url + '/api/v1/' + entry)
#     df_data = response.json()['payload']
#     df = pd.DataFrame(response.json()['payload'][entry])
    
#     for page in range(2, df_data['max_page'] + 1):
#         response = requests.get(base_url + df_data['next_page'])
#         df_payload = response.json()['payload']
#         new_df = pd.DataFrame(df_payload[entry])
#         df = pd.concat([df, new_df], ignore_index=True)
#         # print(page)
        
#     return df

# This one ended up reading pages multiple times

In [25]:
items = a.get_data(base_url='https://python.zgulde.net', entry='items')

In [26]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [27]:
items.shape

(50, 6)

## 2.

Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [28]:
stores = a.get_data(base_url='https://python.zgulde.net', entry='stores')

In [29]:
stores.head()

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201
3          516 S Flores St  San Antonio         4          TX          78204
4          1520 Austin Hwy  San Antonio         5          TX          78218

In [30]:
stores.shape

(10, 5)

## 3.

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [31]:
sales = a.get_data(base_url='https://python.zgulde.net', entry='sales')

In [32]:
sales.shape

(913000, 5)

In [33]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

## 4.

Save the data in your files to local csv files so that it will be faster to access in the future.

In [34]:
# function being called is doing this automatically
# items.to_csv('items.csv')
# stores.to_csv('stores.csv')
# sales.to_csv('sales.csv')

## 5.

Combine the data from your three separate dataframes into one large dataframe.

In [35]:
combined = sales.merge(items, how='left', left_on='item', right_on='item_id')
combined = combined.merge(stores, how='left', left_on='store', right_on='store_id')
combined.head()

,item,sale_amount,sale_date,sale_id,store,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [36]:
combined.shape

(913000, 16)

## 6.

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [37]:
power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
power.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [38]:
power.shape

(4383, 5)

## 7.

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [39]:
# # lets put everything into functions here
# # seems like this function was reading in a page twice somewhere

# def build_df(base_url, entry):
#     '''
#     Takes in base url and entry of json you are interested in and creates df for all pages
#     '''
#     response = requests.get(base_url + '/api/v1/' + entry)
#     df_data = response.json()['payload']
#     df = pd.DataFrame(response.json()['payload'][entry])
    
#     for page in range(2, df_data['max_page'] + 1):
#         response = requests.get(base_url + df_data['next_page'])
#         df_payload = response.json()['payload']
#         new_df = pd.DataFrame(df_payload[entry])
#         df = pd.concat([df, new_df], ignore_index=True)
#         # print(page)
        
#     return df

In [40]:
def build_df(base_url, entry):
    '''
    Takes in base url and entry of json you are interested in and creates df for all pages
    '''
    response = requests.get(base_url + '/api/v1/' + entry)
    n = response.json()['payload']['max_page']
    pages = []
    
    for page in range(1, n+1):
        response = requests.get(base_url + '/api/v1/' + entry + '?page=' + str(page))
        pages += response.json()['payload'][entry]
        
    df = pd.DataFrame(pages)

    return df

In [41]:
def get_power():
    '''
    Returns df of Open Power Systems Data for Germany
    '''
    power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
    return power

In [42]:
def combined_df():
    '''
    Returns combined df of items, stores, and sales
    '''
    items = get_data(base_url='https://python.zgulde.net', entry='items')
    stores = get_data(base_url='https://python.zgulde.net', entry='stores')
    sales = get_data(base_url='https://python.zgulde.net', entry='sales')
    combined = sales.merge(items, how='left', left_on='item', right_on='item_id')
    combined = combined.merge(stores, how='left', left_on='store', right_on='store_id')
    return combined

In [43]:
# let's incorporate caching into the function
import os

In [44]:
def get_data(base_url, entry):
    '''
    This function reads data, writes data to a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile(entry + '.csv'):
        
        # If csv file exists, read in data from csv file.
        df = pd.read_csv(entry + '.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame.
        df = build_df(base_url, entry)
        
        # Write DataFrame to a csv file.
        df.to_csv(entry + '.csv')
        
    return df