# Time Series Explore Exercises

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.rc('figure', figsize=(13, 6))
plt.rc('axes.spines', top=False, right=False)
plt.rc('font', size=13)

import statsmodels.api as sm

import prepare as p

Do your work for this exercise in a notebook named explore. Use the techniques in the lesson to explore the store item demand dataset and the opsd dataset.
- For the store item demand data, you will need to choose a method of aggregating such that each observation is a unique date. 
- For both datasets you should choose a method of splitting your data and only explore the training split.

## Store Items Data

In [5]:
df = p.get_clean_sales_data()

In [6]:
df.head()

,sale_amount,sale_id,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,,,,
2013-01-01,13.0,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,January,Tuesday,10.92
2013-01-02,11.0,2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,January,Wednesday,9.24
2013-01-03,14.0,3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,January,Thursday,11.76
2013-01-04,13.0,4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,January,Friday,10.92
2013-01-05,10.0,5,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,January,Saturday,8.40

## OPS Data

In [7]:
df = p.get_clean_power_data()

/Users/adamtalbot/codeup-data-science/time-series-exercises/prepare.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Wind[np.isnan(df.Wind)] = df.wind_previous_day # impute using value for previous day
/Users/adamtalbot/codeup-data-science/time-series-exercises/prepare.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Solar[np.isnan(df.Solar)] = df.solar_previous_day # impute using value for previous day
/Users/adamtalbot/codeup-data-science/time-series-exercises/prepare.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Solar[np.isnan(df.Solar)] = df.solar_previous_day # run again since missing values were grouped
/Users/adamtalbot/codeup-data-science/time-series-exercises/prepare.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wind+Solar'][np.isnan(df['Wind+Solar'])] = df.Wind + df.Solar # impute remaining missing values with sum

In [8]:
df.head()

            Consumption  Wind  Solar  Wind+Solar    month  year
Date
2006-01-01     1069.184   0.0    0.0         0.0  January  2006
2006-01-02     1380.521   0.0    0.0         0.0  January  2006
2006-01-03     1442.533   0.0    0.0         0.0  January  2006
2006-01-04     1457.217   0.0    0.0         0.0  January  2006
2006-01-05     1477.131   0.0    0.0         0.0  January  2006